html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #ffffff;
  color: #000000;
}

/* Containers */

#page {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Headings */

h1, h2, h3 { color: #008; }

h1, h2 { border-bottom: 1px solid #008; }

h1 { text-align: center; }

/* Text */

p { text-align: justify; }

code {
  padding: 5px;
  border: 1px dashed #999;
  background: #ccc;
}

.big {
  font-size: x-large;
}
